<!DOCTYPE HTML>
<html>
<head>
  <title>Jarvis</title>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
</head>
<body>
<h2>Send:</h2>
<form id="emit" method="POST" action='#'>
  <input type="text" name="emit_data" id="emit_data" placeholder="Message">
  <input type="submit" value="Send">
</form>
<h2>Receive:</h2>
<div id="log"></div>
  <script type="text/javascript">
    var socket;
    var isResponding = false;

    var speech = new SpeechSynthesisUtterance();
    speech.volume = 1;
    speech.rate = 0.79;
    speech.pitch = 1.3;

    speech.onend = function () {
      isResponding = false;
    };

    var voices = {};

    window.speechSynthesis.onvoiceschanged = function() {
      window.speechSynthesis.getVoices().map(function (voice) {
        voices[voice.name] = voice;
      });
    };

    var attentionSound;

    $(document).ready(function () {
      attentionSound = new Audio('http://confluxapp.s3-website-us-west-1.amazonaws.com/jarvis/attention.wav');
      attentionSound.load();

      var namespace = '/master';
      socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

      var emit = function (type, data) {
        data = data || {};
        data.type = type;
        socket.emit('event', data);
      };

      socket.on('connect', function () {
        emit('user:connect');
      });

      socket.on('response', function (message) {
        var text = message.text;

        $div = $('<div>', {text: 'Jarvis:  ' + text});
        $div.css('white-space', 'pre-line');
        $('#log').append('<br>').append($div);

        var soundbite = (message.data || {}).soundbite;

        if (message.isAudio || soundbite) {
          if (soundbite) {
            var audio = new Audio(soundbite);

            audio.onended = function () {
              isResponding = false;
            };

            audio.load();
            audio.play();
          }
          else {
            speech.voice = voices['Karen'];
            speech.text = text;
            window.speechSynthesis.speak(speech);
          }
        } else {
          isResponding = false;
        }
      });

      $('#emit').submit(function () {
        var $input = $('#emit_data');
        sendMessage($input.val());
        $input.val('').focus();
        return false;
      });

      function sendMessage (text, isAudio) {
        isResponding = true;
        emit('message:new', { text: text, isAudio: !!isAudio });
      }

      var profanity = ['fuck', 'fucking', 'shit', 'bitch', 'asshole', 'nigga'];
      var profanityMap = {};

      var escapedProfanity = _.map(profanity, function (word) {
        var firstChar = word[0];
        var hiddenCharsArray = Array(word.length);
        profanityMap[firstChar + hiddenCharsArray.join('*')] = word;
        return firstChar + hiddenCharsArray.join('\\*');
      });

      var profaneRegex = new RegExp(escapedProfanity.join('|'), 'gi');

      function checkForProfanity (text) {
        return text.replace(profaneRegex, function(match){
          return profanityMap[match.toLowerCase()];
        });
      }

      var namesIsh = [
        'jarvis',
        'travis',
        'tervis',
        'service',
        'chavez',
        'garbage',
        'nervous',
        'garvis'
      ];

      var promptRegex = new RegExp('\\b(' + namesIsh.join('|') + ')\\b', 'i');

      function isPrompt (text) {
        return text.match(promptRegex) != null;
      }

      var gatheringSpeechQuery = false;

      if (annyang) {
        console.log(annyang);
        annyang.addCallback('result', function (guesses) {
          console.log(guesses);


          if (isResponding) {
            return;
          }

          console.log(guesses);

          // if gathering result as the query to be sent to server...
          if (gatheringSpeechQuery) {
            gatheringSpeechQuery = false;
            sendMessage(checkForProfanity(guesses[0]), true);
          }
          // if not gathering query, and this result is prompting the bot with it's name...
          else if (isPrompt(guesses.join(' '))) {
            gatheringSpeechQuery = true;
            attentionSound.play();
          }
        });

        annyang.start({ autoRestart: true, continuous: false });
      }


    });

  </script>
</body>
</html>
